<div class='card' (click)="goToDetailLink(book().book_id)">
    <div class="card-body">
        <img src="https://picsum.photos/id/237/200/300" alt="Book Image" class="mx-auto d-block w-50" />
        <h5 class="pb-1 my-1 fw-bold">{{book().title}}</h5>
        <div class=""> written by  <h5 class="fw-semibold">{{book().author_names}}</h5></div>
        <div class="fw-light">published by {{book().publisher?.name}}</div>
        <div class="fw-lighter">{{book().publication_date?.getFullYear()}}</div>
    </div>
</div>
