@if(receivedData() != ""){
	<ngb-alert type="success" [dismissible]="false">
		<span class="">{{receivedData()}}</span>
	</ngb-alert>
}


<table class="table table-striped my-3">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" sortable="name">Title</th>
			<th scope="col" sortable="name">Author Name</th>
			<th scope="col" sortable="name">ISBN</th>
			<th scope="col" sortable="area">Publisher Name</th>
			<th scope="col" sortable="area">Publication Year</th>
			<th scope="col" sortable="area">Genre</th>
			<th scope="col" sortable="area">Language</th>
			<th scope="col" sortable="area">Page Count</th>
			<th scope="col" sortable="area">Edition</th>
			<th scope="col" sortable="area">Status</th>
			<th scope="col" sortable="area">category</th>
			<th scope="col" sortable="area">Action</th>
		</tr>
	</thead>
	<tbody>
		@for (item of datasource(); track item.id) {
			<tr>
				<th scope="row">{{ item.id }}</th>
				<td>
					{{item.title}}
				</td>
                <td>
					{{item.authors}}
				</td>
                <td>
					{{item.isbn}}
				</td>
				<td>{{ item.publisher }}</td>
				<td>{{ item.publicationYear }}</td>
				<td>{{ item.genre }}</td>
				<td>{{ item.language }}</td>
				<td>{{ item.pageCount }}</td>
				<td>{{ item.edition }}</td>
				<td>{{ item.status }}</td>
				<td>{{ item.category }}</td>
                <td>
                    <button class="btn btn-primary" (click)="clickUpdateTodo(item.id)">Update</button>
                    <button class="btn btn-danger" (click)="clickDeleteTodo(item.id)">Delete</button>
                </td>
			</tr>
		}
	</tbody>
</table>