/* appointment-management.component.scss */
@use '../../../../theme-colors' as colors;

.appointment-management-container {
  padding: 20px;
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    .page-title {
      font-size: 24px;
      margin: 0;
      color: colors.$text-dark;
    }
    
    .add-button {
      background-color: colors.$primary-color;
      color: colors.$text-light;
      
      &:hover {
        background-color: colors.$primary-darker;
      }
      
      mat-icon {
        margin-right: 8px;
      }
    }
  }
}