<div class="card card-body">
    <div class="d-block mx-auto col-6">
        <div class="col-md-3 mx-auto d-block">
            <img src="https://picsum.photos/seed/picsum/300/300"
                class="rounded-circle col-12 col-md-6  mh-100 d-block mx-auto mb-3" />
        </div>
        <p class="h2 col-12 text-center">Profile Helllo World</p>
    </div>
    <div class="my-1">
        <h3 class="mb-1">Contact Details</h3>
        <hr />
        <form class="" [formGroup]="formGroup">
            <div class="my-2">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email"  />
            </div>
            <div class="my-2">
                <label class='form-label'>Phone</label>
                <input type="text" name="email" class="form-control" formControlName="phone"  />
            </div>
            <div class="my-2">
                <label class="form-label">Role</label>
                <input type="text" name="role" class="form-control" formControlName="role" />
            </div>
            <div class="my-2">
                <label class="form-label">Status</label>
                <input type="text" name="user_status" class="form-control" formControlName="status" />
            </div>
        </form>
    </div>

</div>