/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

html,body{
    margin:0;
    padding:0;
}

.main-div-color{
    background-color: #D9D9D9;
}